<div class="field">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input type="{{ field.field.widget.input_type|default:'text' }}"
           id="{{ field.id_for_label }}"
           name="{{ field.html_name }}"
           value="{{ field.value|default:''|upper }}"
           {% if field.field.widget.attrs.min is not None %}min="{{ field.field.widget.attrs.min }}"{% endif %}
           {% if field.field.widget.attrs.max is not None %}max="{{ field.field.widget.attrs.max }}"{% endif %}
           class="{% if field.errors %}input-error{% endif %}"
           {% if field.field.widget.input_type == "text" %}oninput="this.value=this.value.toUpperCase()" style="text-transform:uppercase"{% endif %}
           data-req>
    {% if field.errors %}<span class="field-error">{{ field.errors.0 }}</span>{% endif %}
</div>
